{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			<ul class="breadcrumb">
			  <li><a href="{{ .Sites.First.Home.RelPermalink }}">Home</a></li>
			  <li class="is-active">{{ .Title }}</li>
			</ul>
			<h1 class="post__title">{{ .Title }}</h1>
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<!-- <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}"> -->
		</figure>
		{{- end }}
		<!-- {{ partial "post_toc" . }} -->
		<div class="content post__content clearfix">
			{{ .Content | emojify }}
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="pager flex">
	{{- if .PrevInSection }}
	<div class="pager__item pager__item--prev">
		<a class="pager__link" href="{{ .PrevInSection.RelPermalink }}" rel="prev">
			<span class="pager__subtitle">«&thinsp;{{ .PrevInSection.Title }}</span>
			<!-- <p class="pager__title">{{ .PrevInSection.Title }}</p> -->
		</a>
	</div>
	{{- end }}
	{{- if .NextInSection }}
	<div class="pager__item pager__item--next">
		<a class="pager__link" href="{{ .NextInSection.RelPermalink }}" rel="next">
			<span class="pager__subtitle">{{ .NextInSection.Title }}&thinsp;»</span>
			<!-- <p class="pager__title">{{ .NextInSection.Title }}</p> -->
		</a>
	</div>
	{{- end }}
</nav>
{{- end }}
{{ partial "comments.html" . }}
{{ end }}
