{{- $categories := .Site.Taxonomies.categories }}
{{- if gt (len $categories) 0 }}
<div class="widget-categories widget">
	<div class="widget__content">
		<ul class="widget__list">
		{{- range $name, $taxonomy := $categories }}
			{{- with $.Site.GetPage (printf "/categories/%s" $name) }}
			<li class="widget__item">
				<a class="widget__link" onclick="loadPage({{ .RelPermalink }})">
					<span class="taxo_text"> {{ .Title }} </span><span class="taxo_num">{{ len $taxonomy }}</span>
				</a>
			</li>
			{{- end }}
		{{- end }}
		</ul>
	</div>
</div>
{{- end }}
