{{- $tags := .Site.Taxonomies.topik }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
	<div class="widget__content">
		<ul class="widget__list">
			{{- range $name, $taxonomy := $tags }}
			{{- with $.Site.GetPage (printf "/topik/%s" $name) }}
			<li class="widget__item">
				<a class="widget__link">
					<span class="taxo_text" id={{ .RelPermalink }}> {{ .Title }}</span><span class="taxo_num">{{ len
						$taxonomy }}</span>
				</a>
			</li>
			{{- end }}
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}