<a rel="noreferrer" {{ if .Title }} target="_blank" {{ end }} href="{{ .Destination }}">
  {{ .Text | safeHTML }}
</a>
{{ if .Title }}
<svg class="inline fill-dk-hl-500 hover:fill-dk-hl-400" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="9" viewBox="0 0 11 10" aria-label="External Link"
  style="margin:0rem">
  <polygon points="12 5.038 6.962 10.066 5.668 8.772 8.502 5.961 0 5.961 0 4.116 8.502 4.116 5.691 1.282 6.984 0"
    transform="rotate(-40 6 5.033)"></polygon>
</svg>
{{ end }}