{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		{{ with $logoImage -}}
			<div class="logo__item logo__imagebox ">
				{{ partial "svg/logoInOfBox2.svg" (dict "class" "logo__img" ) }}
				<!-- <img class="logo__img" src="{{ . | relURL }}"> -->
			</div>
		{{- end -}}
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<nav class="logo__title"> {{ . }} </nav>

					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}
		</a>
	</div>
{{- end }}

<script>
	const logo_image = document.querySelector(".logo__imagebox");
	const body = document.querySelector(":root");
	const curr_theme = localStorage.getItem("theme");

	if (curr_theme == "light"){
		body.classList.add('light-theme');
	}

	logo_image.addEventListener('click', () =>{
		body.classList.toggle('light-theme');

		let theme = "dark";

		if (body.classList.contains("light-theme")){
			theme = "light"
		}

		localStorage.setItem("theme", theme);
	})
</script>