<!DOCTYPE html>
<html class="no-js scroll-smooth overflow-y-auto scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-dk-primary-800" lang="{{ .Site.Language.Lang }}">

<head class="">
	{{ partial "head.html" . }}
</head>

<body class="m-0 overflow-x-hidden text-base break-words bg-dk-primary-800 font-dk-sans  loading">
	<div id="loader"
		class="fixed z-40 top-0 left-0 w-full h-full flex justify-center items-center bg-dk-primary invisible">
		{{ partial "svg/plainLogo1.svg" (dict "data-tilt" "") -}}
	</div>
	<div class="relative container--outer ">
		{{ partial "header.html" . }}
		{{ partial "search.html" . }}
		<div class="w-auto flex justify-center py-0 sm:px-side px-0">
			<div
				class='w-full min-h-[894.4px]  pt-14 px-0 pb-0 max-w-dk-maxW {{ if eq .Type "post" }} flex justify-between {{ end }} '>
				<div class="min-w-0 transition-all " id="main-base">
					{{ block "main" . }}
					{{ end }}
				</div>
			</div>
		</div>
		<div class="hidden is-active-link"></div>
		{{ partial "footer.html" . }}
	</div>
	{{ range .Site.Params.customJS -}}
	<script src="{{ . | relURL }}"></script>
	{{- end }}
	<script async defer src="https://unpkg.com/lunr@2.3.9/lunr.min.js"></script>
	<script src="/js/search.js"></script>
	<script async src="/js/main.js"></script>
</body>

</html>