<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head class="">
	<link rel="manifest" href="/manifest.json">
	<meta name="description" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function (d, e) { d[e] = d[e].replace("no-js", "js"); })(document.documentElement, "className");</script>
	<meta name="description"
		content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.schema }}
	{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- $googleFontsLink := .Site.Params.googleFontsLink | default
	"https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s" ` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css">

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	<link rel="apple-touch-icon" href="{{ "favicon.ico" | relURL }}">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/appicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/appicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/appicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/appicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/appicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/appicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/appicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/appicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/appicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/appicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/appicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/appicons/favicon-128.png" sizes="128x128" />
	<!-- <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}"> -->
	{{- if not .Site.IsServer }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/night-owl.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/vs.min.css" /> -->
</head>
<body data-spy="scroll" data-target="#toc" class="body loading">
	<div class="loader">
		{{ partial "svg/plainLogo1.svg" (dict "data-tilt" "") -}}
	</div>
	<div class="container container--outer">
		{{ partial "header.html" . }}
		<div class="wrapper flex">
			<div class="primary">
				{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
				{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer.html" . }}
	</div>
	{{ range .Site.Params.customJS -}}
	<script src="{{ . | relURL }}"></script>
	{{- end }}
	{{/* {{- partial "mathjax.html" . -}} */}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script async defer src='{{ "js/tilt.jquery.js" | relURL }}'></script>
	<script async defer src='{{ "js/loading.js" | relURL }}'></script>
	<script async defer src='{{ "js/main.js" | relURL }}'></script>
</body>
</html>