{{ define "main" }}

{{ $kategori := "Kategori"}}
{{ $topik := "Topik"}}

<main class="main list" role="main">
	{{ with .Title }}
	<div class="header-taxo">
		<header class="main__header">
			<!-- <h1 class="main__title">{{ . }}</h1> -->
			<h4 class="widget__title">{{ . }}</h4>
		</header>
		{{- end }}
		{{ if eq .Title $kategori}}
		{{- $root := . }}
		{{- $p := printf "widgets/categories.html" }}
		{{- partial $p $root }}
		{{ else }}
		{{- $root := . }}
		{{- $r := printf "widgets/taglist.html" }}
		{{- partial $r $root }}
		{{- end }}
	</div>
	<div id="main-page"
		class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1  mt-6 gap-y-4 gap-x-4 place-items-center md:justify-between pb-6">
		{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
		{{- end }}
	</div>
</main>
{{ partial "pagination.html" . }}
{{ end }}