{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	<!-- {{- $root := . }}
	{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
		{{- range $widget := . }}
			{{- $p := printf "widgets/%s.html" $widget }}
			{{- partial $p $root }}
		{{- end }}
	{{- end}} -->
	<div class="main page">
		{{- range .Paginator.Pages }}
			{{- .Render "summary" }}
		{{- end }}
	</div>
</main>
{{ partial "pagination.html" . }}
{{ end }}