{{ define "main" }}
<main class="bg-dk-primary-900 my-7 mx-0 rounded-xl pt-4 px-5 pb-6" role="main">
	<article class="content">
		<header class="post__header">
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			<ul class="mb-8 py-2 pl-5 list-none mt-5 bg-dk-primary-800 rounded-xl ">
				<li class="inline items-center text-base font-extrabold">
					<a class="text-dk-hl-400 hover:underline" href="{{ .Sites.First.Home.RelPermalink }}">Home</a>
				</li>
				<li
					class="inline items-center text-base font-extrabold before:content-['>'] before:text-dk-hl-400 before:p-2 text-dk-text-alpha-500">
					{{ .Title }}</li>
			</ul>
			<h1 class="text-dk-text pt-3 m-0 font-extrabold">{{ .Title }}</h1>
			{{ with partial "post_meta.html" . -}}
			<div class="py-3 px-0 mb-5 text-dk-text-alpha-500 text-sm align-baseline">{{ . }}</div>
			{{- end }}
		</header>
		<div class="block text-dk-text overflow-auto overflow-x-hidden content-center">
			{{ .Content | emojify }}
		</div>
	</article>
</main>
<buttton class="fas fa-arrow-circle-up top-button" title="Ke Atas"></buttton>
{{ partial "authorbox.html" . }}
{{ partial "comments.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/shell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/powershell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/arduino.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/apache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/typescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script async defer src='{{ "js/single.js" | relURL }}'></script>
<script async defer src='{{ "js/disqusLoader.js" | relURL }}'></script>
<script>
	new ClipboardJS('.fa-copy');
</script>
<script>hljs.highlightAll();</script>
<script>
	document.querySelectorAll(".bC.language-XML").forEach(function (element) {
		element.innerHTML = element.innerHTML.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
	});
	document.querySelectorAll(".bC.language-Javacript").forEach(function (element) {
		element.innerHTML = element.innerHTML.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
	});
	document.querySelectorAll(".bC.language-HTML").forEach(function (element) {
		element.innerHTML = element.innerHTML.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
	});
</script>
{{ end }}