<article class="list__item">
	<div class="flex-box">
		{{- if .Params.thumbnail }}
		<figure class="list__thumbnail">
			<a href="{{ .Permalink }}">
				<img loading="lazy" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
			</a>
		</figure>
		{{- end }}
		<div class="summary_content">
			<header class="list__header">
				<h5 class="list__title post__title ">
					<a href="{{ .RelPermalink }}" rel="bookmark">
						{{ .Title }}
					</a>
				</h5>
				{{- with .Params.lead }}
				<p class="list__lead post__lead">{{ . }}</p>
				{{- end }}
			</header>
			<div class="content list__excerpt post__content clearfix">
				{{ .Summary }}
			</div>
			<div class="readmore-button">
				<a href="{{ .Permalink}}">
					<button class="readmore-button">Mulai Baca!</button>
				</a>
			</div>
		</div>
</article>