{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>     
			{{- end }}
			<h1 class="post__title">{{ .Title }}</h1>
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<!-- <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}"> -->
		</figure>
		{{- end }}
		<!-- {{ partial "post_toc" . }} -->
		<div class="content post__content clearfix">
			<div class="mols">
				<input type="email" name="" id="" placeholder="NIM">
				<input type="password" name="" id="password" placeholder="Password">
				<button type="submit" onclick="mols()"></button>
			</div>
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
<style>
	.mols{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mols > input{
		width: 14em;
	}
</style>
<script>
	function mols() {
		
		window.open("https://www.google.com");
		alert("Hahah");
	}
</script>
{{ end }}

