@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.body.light-theme {
	--body-color: #e0e0e0;
	--header-color: #f0f0f0;
	--wrapper-color: #ffffff;
	--heading-color: #c30d23;
	--scrollbar-thumb: #909090;
	--scrollbar-track: #f0f0f0;
	--primary-text-color: #0a0a0a;
	--primary-pure-color: #ffffff;
	--btn-color: #fff;
	--figcaption-color: #666;
	--code-header-color: #d3d3d3;
	--icon-fill-color: #727272;
	--tooltiptext-color: rgb(255, 255, 255);
	--breadcrumb-color: #ffffff;
	/* One */
	--hr-color: #dadada;
	--mark-color: var(--heading-color);
	--blockquote-border-color: #42474a;
	--code-border-color: #44444d;
	--code-color: var(--highlight-color);
	--toc-a-color: #b86770;
	--toc-stroke-color: var(--highlight-color);
	--direktori-bg-color: #c4c4c4;
	--breadcrumb-text-color: #7c7c7c;
	--logo-hover-color: #ec122c;
	--highlight-color: #08851d;
	--brightness: brightness(.9);
}

:root {
	--body-color: #262627;
	--header-color: #1e1e1e;
	--wrapper-color: #1a1b1d;
	--heading-color: #8bd3e1;
	--scrollbar-thumb: #909090;
	--scrollbar-track: #1e1e1e;
	--primary-text-color: #ffffff;
	--primary-pure-color: #000;
	--btn-color: #2a2a2a;
	--figcaption-color: rgb(187, 187, 187);
	--code-header-color: #0f0f0f;
	--icon-fill-color: #b6b4b4;
	--tooltiptext-color: #555;
	--breadcrumb-color: var(--body-color);
	--bC-color: transparent;
	/* One */
	--hr-color: #dadada;
	--mark-color: var(--heading-color);
	--blockquote-border-color: #42474a;
	--code-border-color: #44444d;
	--code-color: #fff400;
	--toc-a-color: #5e8890;
	--toc-stroke-color: #f0ff00;
	--direktori-bg-color: #404245;
	--breadcrumb-text-color: #8a8a8a;
	--logo-hover-color: #b2e2ebff;
	--highlight-color: #fff400;
	--max-width: 950px;
	--box-shadow: 1px 1px 5px;
	--brightness: brightness(1.3);
	/* Font */
	--fontFamilyPrimary: 'Merriweather', Roboto, Helvetica, Arial, sans-serif;
	--fontFamilySecondary: 'Cascadia Code', sans-serif, monospace;
	--headingFont: 'Roboto', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

*::-moz-selection, *::-webkit-selection {
	color: var(--wrapper-color);
	background: var(--primary-text-color);
}

::webkit-selection {
	color: var(--wrapper-color);
	background: var(--primary-text-color);
}

::selection {
	color: var(--wrapper-color);
	background: var(--primary-text-color);
}

*, *::before, *::after {
	box-sizing: border-box;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

header.homepage-header, .homepage-content {
	/* visibility: hidden; */
	display: none;
}

/* Structure */

html {
	font-size: 100%;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 11px;
}

html::-webkit-scrollbar-track {
	/* border-radius: 10px; */
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--scrollbar-thumb);
}

body {
	margin: 0;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.9;
	word-wrap: break-word;
	background: var(--body-color);
	font-family: var(--fontFamilyPrimary);
	-webkit-font-smoothing: antialiased;
}

.fa .fas {
	margin-right: 5px;
}

.body.loading {
	overflow-y: hidden;
}

.container {
	position: relative;
	width: 100%;
	/* max-width: 900px; */
	margin: 0;
}

.container--outer {
	margin: 0px auto;
	box-shadow: 0 0 10px rgb(50, 50, 50, .17);
}

.wrapper-container {
	width: 100%;
	display: flex;
	justify-content: center;
	/* max-width: var(--max-width); */
}

.wrapper {
	width: 100%;
	min-height: 894.8px;
	padding: 50px 0px 0;
	border-width: 24px;
	background-color: inherit;
	transition: all, 1s;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	max-width: var(--max-width);
	margin: 0 20px;
}

.primary {
	-webkit-flex: 1 0 65.83%;
	flex: 1 0 65.83%;
	-webkit-order: 1;
	order: 1;
	min-width: 0;
	transition: all 0.2s ease;
}

.primary.full {
	max-width: var(--max-width);
	transition: all .5s ease;
}

.homepage-content {
	margin-top: 19px;
}

/* ------------------- Bagian Sidebar ----------------- */

.sidebar {
	-webkit-flex: 1 0 31.66%;
	flex: 1 0 31.66%;
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	transition: visibility 0.3s ease;
	opacity: 1;
}

.sidebar.visible {
	opacity: 0;
	transition: all 0.3s ease;
}

.sidebar.hidden {
	display: none;
}

.sidebar--left {
	-webkit-order: 0;
	order: 0;
	margin: 0 2.5% 0 0;
}

.clearfix {
	display: block;
	color: var(--primary-text-color);
	overflow: auto;
	overflow-x: hidden;
	align-content: center;
}

.list__excerpt .clearfix p {
	font-size: 14px;
}

.clearfix::after {
	display: block;
	height: 10px;
	padding: 0;
	margin: 0;
	overflow: auto;
	clear: both;
	line-height: -1;
	visibility: hidden;
	content: "";
	color: var(--primary-pure-color);
}

input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Button */

.btn {
	/* padding: 5px 10px; */
	font-weight: 700;
	color: var(--primary-text-color);
	background: var(--wrapper-color);
}

.btn:hover {
	color: var(--primary-text-color);
	/* background: var(--highlight-color); */
}

/* Animation */

.menu__item, .btn {
	transition: background-color .25s ease-out;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 30px;
	line-height: 1.3;
	color: var(--heading-color);
	letter-spacing: 1px;
	font-family: var(--headingFont);
}

:target {
	scroll-margin-top: 4rem;
}

h1 {
	margin-top: 50px;
	font-size: 2rem;
}

h2 {
	margin-top: 50px;
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	margin-top: 30px;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--primary-text-color);
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 16px;
	font-size: 1rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}

a {
	color: var(--primary-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--highlight-color);
}

svg>polygon {
	fill: var(--highlight-color);
}

hr {
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid var(--hr-color);
}

p {
	margin: 30px 0 0;
	/* margin: 0 0 1.25rem; */
	color: var(--primary-text-color);
	font-size: 1rem;
}

b, strong {
	font: inherit;
	font-weight: bolder;
}

i, em {
	font: inherit;
	font-style: italic;
}

ol, ul {
	padding: 0;
	margin: 0;
}

small {
	font-size: 12px;
	font-size: .75rem;
}

mark {
	background-color: var(--mark-color);
}

figure {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
}

figcaption {
	margin-top: 4px;
	margin-top: .25rem;
	color: var(--figcaption-color);
	font-style: italic;
	text-align: center;
}

figcaption h4 {
	margin: 0;
	color: inherit;
}

pre, code, kbd, samp {
	font-family: var(--fontFamilySecondary);
	font-size: inherit;
}

pre, code {
	background-color: var(--wrapper-color);
	border: 1px solid var(--bC-color);
	border-radius: 5px;
	padding: .5em;
}

code {
	padding: 4px;
	color: var(--code-color);
}

pre {
	display: block;
	padding: 0;
	/* padding: 1.25rem; */
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	overflow: auto;
	color: var(--primary-pure-color);
}

pre code {
	padding: 0;
	color: inherit;
	white-space: inherit;
	background: inherit;
	border: 0;
}

kbd {
	padding: 2px 3px;
	color: var(--primary-text-color);
	background-color: var(--btn-color);
}

blockquote {
	background-color: var(--body-color);
	display: block;
	padding: 5px 0 5px 15px;
	margin: 30px 0 0;
	line-height: 1.6;
	border-left: 5px solid var(--blockquote-border-color);
}

blockquote p:last-child {
	margin: 0;
	color: #7b8b88;
}

blockquote footer {
	text-align: right;
}

sup, sub {
	font-size: 10px;
	font-size: .625rem;
	font-style: normal;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
	border-bottom: 1px dotted var(--primary-pure-color);
}

q {
	font-style: italic;
}

address {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	font-family: "Consolas", Courier New, Courier, monospace;
	line-height: 1.5;
}

dl {
	margin: 0 0 10px 20px;
}

dt, dd {
	display: list-item;
}

dt {
	font-weight: bold;
	list-style-type: square;
}

dd {
	margin-left: 20px;
	list-style-type: circle;
}

select {
	max-width: 100%;
}

.warning {
	padding: 20px 10px;
	text-align: center;
	border: 1px solid #ddd;
}

.warning__icon {
	margin-bottom: 20px;
	fill: #ddd;
}

/* Header */

/* 
?██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
?██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
?███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
?██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
?██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
?╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                
*/

.header {
	display: flex;
	border-bottom: 3px;
	justify-content: center;
}

.header__container {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 3;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	border-bottom: 2px solid var(--heading-color);
	border-width: 4px;
	transition: top, .4s;
	background-color: var(--header-color);
}

.header-flex {
	max-width: var(--max-width);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}

.logo--mixed {
	display: flex;
	justify-content: space-between;
	max-width: 195px;
	width: 100%;
}

.logo__imagebox{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo--mixed svg {
	width: 40px;
	height: 40px;
	fill: var(--heading-color);
	cursor: help;
}

.logo--mixed svg:hover {
	fill: var(--logo-hover-color);
}

.logo__title {
	display: flex;
	align-items: center;
}

.logo__link {
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
	font-family: var(--headingFont);
}

.logo__link:hover {
	color: var(--highlight-color);
}

.logo__tagline {
	display: inline-block;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: var(--highlight-color);
	border-top: 1px solid #ebebeb;
}



/* Navigatiaon */

.nav-item {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 2em;
}

[custom-title]:hover::before {
	background-color: var(--icon-fill-color);
	position: absolute;
	content: attr(custom-title);
	color: var(--wrapper-color);
	top: 100%;
	align-items: center;
	white-space: nowrap;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
}

[after-title]:hover::after {
	background-color: var(--icon-fill-color);
	position: absolute;
	content: attr(after-title);
	color: var(--wrapper-color);
	top: 101%;
	white-space: nowrap;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
}

.navbar-nav {
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	transition: all .3s ease;
	list-style: none;
}

.icon-button svg {
	width: 30px;
	fill: var(--primary-text-color);
}

.icon-button {
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}

.nav-item.current>.icon-button.current svg {
	fill: var(--primary-text-color);
	/* stroke-width: 0px; */
}

.icon-button.toggle-search.active svg {	
	stroke: var(--primary-text-color);
	stroke-width: 50px;
}

/* Slider Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
}

#slider_sidebar.hidden {
	display: none;
}

/* Hide default HTML checkbox */

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	--slider-round: 18px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--header-color);
	-webkit-transition: .4s;
	transition: .4s;
	border: solid 2px var(--primary-text-color);
}

input:disabled~.slider {
	cursor: not-allowed;
}

.slider:before {
	position: absolute;
	content: "";
	height: var(--slider-round);
	width: var(--slider-round);
	left: 8px;
	bottom: 3.5px;
	border: solid 1px var(--primary-text-color);
	background-color: var(--header-color);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--primary-text-color);
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(var(--slider-round));
	-ms-transform: translateX(var(--slider-round));
	transform: translateX(var(--slider-round));
}

.slider.round {
	border-radius: 34px;
	border: solid 2px var(--primary-text-color);
}

.slider.round:before {
	border-radius: 50%;
}

/* Posts/Pages */

.main-single {
	background-color: var(--wrapper-color);
	margin: 25px 0;
	border: 0;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #1e1e1e;
	padding: 15px 30px 25px;
}

.main__header {
	margin-top: 20px;
}

.main__title {
	font-size: 28px;
	font-size: 1.75rem;
	margin: 20px 0;
}

.main__content {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.meta {
	font-size: 13px;
	font-size: .8125rem;
	vertical-align: baseline;
}

.meta, .meta a {
	color: var(--figcaption-color);
}

.meta a:hover {
	color: var(--highlight-color);
}

.meta__item {
	display: inline;
	margin-left: 15px;
}

.meta__item:first-child {
	margin-left: 0;
}

.meta__icon {
	margin-right: 5px;
	vertical-align: middle;
	fill: #c4c4c4;
}

.meta__text {
	vertical-align: middle;
}

.post__title {
	color: var(--primary-text-color);
	padding-top: 10px;
	margin: 0;
}

.post__meta {
	padding: 10px 0;
	margin-bottom: 20px;
}

.post__lead {
	margin-top: 4px;
	margin-top: .25rem;
	margin-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
}

.post__thumbnail {
	max-width: 1030px;
	margin: 0 0 20px;
	margin-bottom: 0 0 1.25rem;
}

.post__thumbnail img {
	width: 100%;
}

.content a, .warning a, .authorbox__description a {
	font-weight: 700;
	color: var(--highlight-color);
}

.content a:hover, .warning a:hover, .authorbox__description a:hover {
	color: var(--highlight-color);
	text-decoration: underline;
}

.content .alignnone {
	display: block;
	margin: 20px 0;
	margin: 1.25rem 0;
}

.content .aligncenter {
	display: block;
	margin: 20px auto;
	margin: 1.25rem auto;
}

.content .alignleft {
	display: inline;
	float: left;
	margin: 5px 20px 20px 0;
	margin: .3125rem 1.25rem 1.25rem 0;
}

.content .alignright {
	display: inline;
	float: right;
	margin: 5px 0 20px 20px;
	margin: .3125rem 0 1.25rem 1.25rem;
}

.content ul {
	list-style: disc;
}

.content ul ul {
	list-style: circle;
}

.content ol {
	list-style: decimal;
}

.content ul, .content ol {
	margin: 20px 0 20px 40px;
}

.content ul ul, .content ol ol, .content ol ul, .content ul ol {
	margin: 0 0 0 40px;
}

.content li {
	margin-bottom: 30px;
}

.post__footer {
	margin-top: 20px;
	margin-top: 1.25rem;
}


/* Table of Contents */

/* 
?████████╗ █████╗ ██████╗ ██╗     ███████╗     ██████╗ ███████╗     ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗███████╗
?╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝    ██╔═══██╗██╔════╝    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝██╔════╝
?   ██║   ███████║██████╔╝██║     █████╗      ██║   ██║█████╗      ██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║   ███████╗
?   ██║   ██╔══██║██╔══██╗██║     ██╔══╝      ██║   ██║██╔══╝      ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║   ╚════██║
?   ██║   ██║  ██║██████╔╝███████╗███████╗    ╚██████╔╝██║         ╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║   ███████║
?   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝     ╚═════╝ ╚═╝          ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/

.hr-sidebar {
	border-top: none;
	margin-bottom: 20px;
	margin-left: 23px;
	padding-bottom: 1px;
	color: var(--primary-text-color);
	background-image: -webkit-linear-gradient(left, transparent, var(--primary-text-color) 50%, transparent 100%);
	background-image: -o-linear-gradient(left, transparent, var(--primary-text-color) 50%, transparent 100%);
	background-image: linear-gradient(to right, transparent, var(--primary-text-color) 50%, transparent 100%);
}

.hr-down {
	margin-top: 30px;
}

.toc_class li {
	list-style: none;
	font-size: 12px;
	padding-left: 15px;
}

.toc_class {
	margin-top: 25px;
	position: fixed;
	font-weight: 700;
	padding-left: 20px;
	z-index: 0;
}

.toc-marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.toc-marker>path {
	transition: all 0.3s ease;
	stroke: var(--toc-stroke-color);
}

li.visible>a {
	transform: translate( 5px);
	color: var(--heading-color);
}

li.visible>a:hover {
	color: var(--highlight-color);
}

.toc_class div a {
	font-weight: 200;
}

.toc_class a {
	transition: all 50ms ease-in-out;
	color: var(--toc-a-color);
}

.toc_class a:hover {
	color: var(--highlight-color)
}

.active {
	color: yellow;
}

.nav-ul li {
	list-style: none;
}

/* .sticky{
	position: fixed;
	top: 55px;
	transition: all, 0.3s;
} */

.toc__title {
	padding-left: 15px;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: var(--primary-text-color);
	/*background: var(--btn-color);*/
}

/* Author Box */

.authorbox {
	padding: 25px;
	margin: 25px 0;
	line-height: 1.5;
	border: 0;
	border-radius: 10px;
	background-color: var(--wrapper-color);
	box-shadow: 1px 1px 5px #1e1e1e;
	/* border-top: 1px solid #ebebeb; */
	/* border-bottom: 1px solid #ebebeb; */
	color: var(--primary-text-color);
}

.authorbox .clearfix::after {
	height: 0;
	content: ""
}

.authorbox__avatar {
	float: left;
	padding: 10px;
	margin: 0 30px 0 0;
	box-shadow: 1px 1px 10px #000;
	/* border: 1px solid #ebebeb; */
}

.authorbox__header {
	margin: 0 0 0 10px;
}

.authorbox__ditulis {
	font-size: 0.9em;
	opacity: .75;
}

.authorbox__name {
	text-decoration: double underline;
	font-size: 1.5em;
	font-weight: 700;
	color: var(--primary-text-color);
	margin: 0 0 30px;
}



/* ------------ List content --------------*/

.main.page {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 395px));
	/* grid-template-rows: repeat(auto-fit, minmax(300px, 360px)); */
	justify-content: space-between;
	row-gap: 25px;
	column-gap: 25px;
	margin-top: 25px;
	padding-bottom: 25px;
}

.main.page:last-child, .main.page:nth-last-child(2) {
	margin-bottom: 25px;
}

.list__item {
	border: none;
	border-radius: 10px;
	background-color: var(--wrapper-color);
	transition: all .1s ease;
	min-height: 350px;
	height: 100%;
	max-width: 395px;
	box-shadow: var(--box-shadow) #232324;
	padding: 20px 20px 10px;
}

.list__thumbnail:hover {
	filter: brightness(1.2);
}

.flex-box {
	box-shadow: none;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.list__header {
	text-align: center;
	margin-bottom: 5px;
	/* max-width: 350px; */
	width: 100%;
}

.list__thumbnail {
	margin: 0;
	position: relative;
	text-align: center;
	align-self: center;
	border: 0;
}

.tanggal-artikel {
	position: absolute;
	top: 0%;
	right: 0%;
	color: #8bd3e1bb;
	padding: 3.5px;
	background-color: #1d1d1dea;
	visibility: hidden;
	border: 0;
	border-radius: 0 0 0 10px;
	transition: all .1s;
}

.list__thumbnail:hover .tanggal-artikel {
	visibility: visible;
	transition: .1s;
}

.summary_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	height: 100%;
}

.readmore-button {
	width: 100%;
	color: var(--wrapper-color);
	background: var(--heading-color);
	border: none;
	border-radius: 5px;
	font-family: var(--headingFont);
	cursor: pointer;
}

.readmore-button:hover {
	background: var(--highlight-color);
}

.list__thumbnail img {
	width: 100%;
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-align-self: center;
	align-self: center;
	border: 0;
	border-radius: 5px;
}

.post__content.clearfix>p, .post__content.clearfix {
	color: var(--breadcrumb-text-color);
	font-size: 13px;
	/* max-width: 350px; */
	width: 100%;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	overflow: hidden;
	text-align: center;
	margin: 0;
	/* max-height: 60px; */
}

.list__footer-readmore {
	float: right;
	margin-top: 10px;
}

.asyncButton {
	display: grid;
	margin: 25px 0 50px;
	place-items: center;
	width: auto;
	height: auto;
}

#loadmore, #loadmore:active {
	--max-height: 180px;
	border: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 180px;
	max-height: calc(var(--max-height)/3);
	width: 100%;
	height: calc(var(--max-height)/3);
	font-family: var(--headingFont);
	color: var(--header-color);
	font-weight: bolder;
	background-color: var(--heading-color);
	filter: brightness(1);
}

#loadmore:hover {
	filter: var(--brightness);
}

.button-loading>span {
	visibility: hidden;
	opacity: 0;
}

.button-loading::before {
	animation: 1.5s linear infinite loadmore-spinner;
	animation-play-state: inherit;
	border: solid 5px var(--heading-color);
	border-bottom-color: var(--header-color);
	border-radius: 50%;
	content: "";
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	will-change: transform;
}

@keyframes loadmore-spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

.asyncButton.disable {
	display: none;
}

/* ----------- Categories ------------ */

.main.list {
	display: grid;
	grid-template-rows: auto;
}

/* Pagination */

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	list-style: none;
	background-color: var(--header-color);
	height: 40px;
	border: none;
	border-radius: 10px;
}

.pagination li {
	font-size: 18px;
	font-weight: 700;
	padding: 0 10px;
	cursor: pointer;
}

.pagination li>a {
	color: var(--icon-fill-color);
}

.pagination li.active>a {
	text-decoration: double underline;
	color: var(--heading-color);
}

.pagination li>a:hover {
	text-decoration: underline;
	color: var(--highlight-color);
}

.pagination__item {
	display: inline-block;
	padding: 10px 15px;
	font-weight: 700;
	color: var(--primary-pure-color);
	background: #f5f5f5;
}

.pagination__item:hover, .pagination__item--current {
	color: var(--primary-text-color);
	background: #fff;
}

/* Pager (prev/next links) navigation */

.pager {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ebebeb;
}

.pager__subtitle {
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
	line-height: 1;
}

.pager__title {
	margin-bottom: 0;
	overflow: hidden;
	font-size: 13px;
	font-size: .8125rem;
}

.pager__item {
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-width: 48%;
}

.pager__item--next {
	margin-left: auto;
	text-align: right;
}

.pager__link {
	display: block;
}

.pager__link>.fa {
	color: var(--icon-fill-color);
	font-size: 25px;
}

.pager__link>.fa:hover {
	color: var(--primary-text-color);
}

/* Images / Video */

img {
	width: auto\9;
	/* ie8 */
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

iframe, embed, object, video {
	max-width: 100%;
}

/* Table */

table {
	width: 200px;
	height: 100px;
	overflow: auto;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

td, th {
	padding: 5px 10px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

th {
	font-weight: 700;
}

/* Forms */

input {
	padding: 0 0 3px 15px;
	color: var(--primary-text-color);
	font-size: 16px;
	background: #1c2022;
	transition: all .25s ease-in-out;
	border: none;
}

input[type=text], input[type=email], input[type=tel], input[type=url] {
	width: 83%;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover {
	border: 2px solid var(--highlight-color);
}

input[type=submit], input[type=reset] {
	display: inline-block;
	min-width: 150px;
	padding: 10px 15px;
	font-weight: 700;
	color: var(--heading-color);
	text-transform: uppercase;
	cursor: pointer;
	background: var(--btn-color);
	border: 0;
	transition: all .1s linear;
	-webkit-appearance: none;
}

input[type=submit]:hover, input[type=reset]:hover {
	background: var(--highlight-color);
}

textarea {
	width: 96%;
	padding: 5px;
	overflow: auto;
	line-height: 1.5;
	resize: vertical;
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, .1);
}

/* Widgets */

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	font-size: 1.3em;
	color: var(--primary-text-color);
}

.widget__item {
	position: relative;
	font-size: 12px;
	list-style: none;
	display: inline-block;
	margin: 0 10px 16px 0;
}

.widget__item:hover .taxo_num {
	color: var(--primary-text-color);
}

.widget__link {
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
}

.widget__item:first-child {
	padding-top: 0;
}

.widget__link.taxo {
	font-size: inherit;
}

.taxo_text {
	padding: 10px;
	--taxo-radius: 7px;
	border-top-left-radius: var(--taxo-radius);
	border-bottom-left-radius: var(--taxo-radius);
	background-color: var(--header-color);
	color: var(--heading-color);
	font-size: 1.3em;
}

.taxo_text.current {
	color: var(--primary-pure-color);
	background-color: var(--primary-text-color);
}

.taxo_num {
	padding: 10px;
	--taxo-radius: 7px;
	border-top-right-radius: var(--taxo-radius);
	border-bottom-right-radius: var(--taxo-radius);
	background: var(--primary-pure-color);
	font-size: 1.3em;
}

.taxo_text:hover {
	text-decoration: underline;
}

.taxo_num:hover {
	color: var(--primary-text-color);
}

/* Social widget */

.social-media {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 10px;
	max-width: 300px;
}

.widget-social__item {
	margin-right: 10px;
	
}

.widget-social__link-icon {
	vertical-align: middle;
	fill: var(--icon-fill-color);
}

.btn:hover .widget-social__link-icon {
	fill: var(--primary-text-color);
	background: var(--wrapper-color);
}


/* Footer */

.footer {
	display: flex;
	justify-content: center;
	padding: 10px 25px;
	font-size: 12px;
	font-size: .75rem;
	color: var(--primary-text-color);
	border-top: 3px solid #999;
	background: var(--header-color);
}

.footer__container {
	width: 100%;
	max-width: var(--max-width);	
	display: flex;
	justify-content: center;
}

.footer-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__copyright {
	text-align: center;
}

.footer-list {
	display: flex;
	list-style: none;
	justify-content: center;
}

.footer-list > li{
	font-weight: bolder;
	margin-right: 20px;
}

.footer-list > li a:hover{
	color: var(--highlight-color);
}

.footer__links {
	-webkit-order: 1;
	order: 1;
}

.footer a {
	color: var(--primary-text-color);
}

.footer a:hover {
	text-decoration: underline;
}

/* Media Queries */

/*
?███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
?████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
?██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
?██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
?██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
?╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
*/

@media screen and (max-width: 1475px) {
	.container--outer {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.container--outer {
		width: 100%;
		margin: 0 auto;
	}
	.widget {
		margin-bottom: 20px;
	}
	.footer__container {
		display: block;
	}
	.footer__links {
		padding-bottom: 8px;
		padding-bottom: 0.5rem;
		text-align: center;
	}
	
}

@media screen and (max-width: 854px) {
	.main.page {
		justify-content: center;
	}
	
}

@media screen and (max-width: 767px) {
	/* 
	? Menu
	*/
	.navigation.show {
		right: 0%;
		transition: all .5s;
		opacity: 1;
	}
	.navbar-nav {
		flex-direction: column;
		transition: all .3s ease;
	}
	.nav-item {
		justify-content: start;
		padding-left: 23px;
		transition: all .3s ease;
	}
	.nav-item.current[custom-title]::after {
		color: var(--heading-color);
	}
	[custom-title]:hover::before {
		display: none;
	}
	.toc_class, #slider_sidebar {
		display: none;
	}
	
	.container .header__container {
		height: 54px;
		justify-content: space-between;
	}
	.sidebar {
		display: none;
		float: none;
		width: 100%;
		margin: 0;
		visibility: hidden;
		transition: all .5s;
	}
	.logo__link {
		z-index: -1;
	}
	.sidebar {
		margin-top: 0px;
	}
	.body.scroll-disabled {
		overflow-y: hidden;
	}
}

@media screen and (max-width: 620px) {
	input[type=text], input[type=email], input[type=tel], input[type=url] {
		width: 88%;
	}
	.authorbox {
		text-align: center;
	}
	.authorbox__avatar {
		display: inline-block;
		float: none;
		margin: 0 0 20px;
	}
	.pager {
		display: block;
	}
	.pager__item {
		min-width: 100%;
		text-align: center;
	}
	.pager__item--prev {
		padding-bottom: 25px;
	}
	.content ul, .content ol {
		margin: 0 0 20px 20px;
	}
	.content ul ul, .content ol ol, .content ol ul, .content ul ol {
		margin: 0 0 0 20px;
	}
	.social-media {
		justify-content: center;
		max-width: var(--max-width);
	}
}

@media screen and (max-width: 498px) {
	.list__item {
		width: 100%;
		height: 100%;
		min-height: 320px;
	}
	.summary_content {
		height: 100%;
	}
	.list__thumbnail {
		align-items: center;
		/* max-width: 80%; */
	}
	.top-button.show {
		display: none;
	}
	.wrapper {
		padding: 50px 0 0;
	}
	
	.overlay-image>img {
		margin: 20px;
		max-width: 90%;
	}

	.main.page {
		padding: 0 20px 25px;
	}

	.footer__copyright > span {
		display: none;
	}

	.wrapper {
		margin: 0;
	}
}

.highlight {
	margin-top: 20px;
}

/*Shortcodes*/

/* 
?███████╗██╗  ██╗ ██████╗ ██████╗ ████████╗ ██████╗ ██████╗ ██████╗ ███████╗███████╗
?██╔════╝██║  ██║██╔═══██╗██╔══██╗╚══██╔══╝██╔════╝██╔═══██╗██╔══██╗██╔════╝██╔════╝
?███████╗███████║██║   ██║██████╔╝   ██║   ██║     ██║   ██║██║  ██║█████╗  ███████╗
?╚════██║██╔══██║██║   ██║██╔══██╗   ██║   ██║     ██║   ██║██║  ██║██╔══╝  ╚════██║
?███████║██║  ██║╚██████╔╝██║  ██║   ██║   ╚██████╗╚██████╔╝██████╔╝███████╗███████║
?╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝╚══════╝
*/

/* dir.html */

.direktori, code {
	color: var(--primary-text-color);
	background-color: var(--direktori-bg-color);
	border-radius: 5px;
	padding: 3px;
}

/*scCode.html*/

.code-header {
	height: 30px;
	display: block;
	background-color: var(--code-header-color);
	border: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0 0;
	/* border-left: 5px solid; */
}

.code-title {
	font-family: var(--headingFont);
	color: var(--primary-text-color);
	padding-left: 15px;
	white-space: nowrap;
}

.chroma {
	margin-top: 30px;
}

.chroma .fa {
	opacity: 0%;
	/* float: right; */
	position: relative;
	line-height: normal;
	cursor: pointer;
	margin: 0 0 0 6px;
	padding: 0px 15px 0 0;
	transition: 0.1s;
	color: var(--icon-fill-color);
}

.chroma:hover .fa {
	opacity: 100%;
}

.fa:hover {
	color: var(--primary-text-color);
}

.fa:active {
	color: var(--highlight-color)
}

.chroma .bC {
	scrollbar-color: var(--bC-color) var(--bC-color);
}

.chroma:hover .bC {
	scrollbar-color: var(--code-header-color) var(--bC-color);
}

pre.bC {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	white-space: inherit;
	border: 0;
	width: auto;
	border-radius: 0 0 10px 10px;
}

code.bC {
	margin: 0;
	padding: 20px 0 20px 15px;
	white-space: pre;
	font-family: var(--fontFamilySecondary);
	max-height: 400px;
	overflow: auto;
	border: 0;
	border-left: 5px solid;
	border-radius: 0;
	/* overflow: scroll; */
}

/* Tooltip */

.tooltip {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: var(--tooltiptext-color);
	color: var(--primary-text-color);
	text-align: center;
	border-radius: 6px;
	padding: 3px;
	position: absolute;
	z-index: 1;
	bottom: 2;
	left: -100;
	margin-left: -150px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: .9em;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 35%;
	left: 100%;
	margin-left: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent var(--tooltiptext-color);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*-------------------------- Border color --------------------------*/

code.bC[data-lang=Powershell] {
	border-left-color: #012456;
}

code.bC[data-lang=Shell] {
	border-left-color: #3e474a;
}

code.bC[data-lang=Bash] {
	border-left-color: #3e474a;
}

code.bC[data-lang=Python] {
	border-left-color: green;
}

code.bC[data-lang=TOML] {
	border-left-color: #9c4221;
}

code.bC[data-lang=JSON] {
	border-left-color: #d8c83e;
}

code.bC[data-lang=CSS] {
	border-left-color: #1570B3;
}

code.bC[data-lang=XML] {
	border-left-color: #FF6600;
}

/* -------------------------------------------------------------------- */

.bC::-webkit-scrollbar {
	visibility: hidden;
	width: 100%;
}

.bC::-webkit-scrollbar-thumb {
	background: var(--bC-color);
	transition: 0.2s;
}

.bC:hover::-webkit-scrollbar {
	visibility: visible;
}

.bC:hover::-webkit-scrollbar-track {
	background: var(--bC-color);
}

.bC:hover::-webkit-scrollbar-thumb {
	background: var(--code-header-color);
}

/* Breadcrumb */

ul.breadcrumb {
	margin-bottom: 30px;
	padding: 4px 0 6px 20px;
	list-style: none;
	margin-top: 20px;
	background-color: var(--breadcrumb-color);
	border-radius: 10px;
	box-shadow: var(--box-shadow) #1A1B1D;
}

ul.breadcrumb li {
	display: inline;
	align-items: center;
	font-size: 16px;
	font-weight: 900;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: var(--highlight-color);
	content: "/\00a0";
}

ul.breadcrumb .is-active {
	color: var(--breadcrumb-text-color);
}

ul.breadcrumb li a {
	color: var(--highlight-color);
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: var(--heading-color);
	text-decoration: underline;
}

/* Image postingan */

img[alt=wine-hq-logo], [alt=wine-layer] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Loading Screen */

.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--wrapper-color);
}

.loader>svg {
	width: 100px;
	height: 100px;
	fill: var(--heading-color);
}

.loader>svg:hover {
	fill: var(--logo-hover-color);
}

.loader.hidden {
	visibility: hidden;
	transition: all .5s ease;
}

#Body {
	--xAxis: 60px;
	--yAxix: 100px;
	z-index: 5;
	stroke: var(--wrapper-color);
	stroke-width: 20px;
}

#body-left {
	animation: bodyMoveRight .5s infinite alternate;
}

#back-right {
	animation: moveLeft .5s infinite alternate;
}

#back-left {
	animation: moveRight .5s infinite alternate;
}

#front-left {
	animation: diaRight .5s infinite alternate;
}

#front-right {
	animation: diaLeft .5s infinite alternate;
}

@keyframes bodyMoveRight {
	0% {
		transform: translateX(var(--moveRange));
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes moveLeft {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes diaRight {
	0% {
		transform: translate(100px, -100px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes diaLeft {
	0% {
		transform: translate(-100px, -100px);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* Highlight.js */

pre {
	padding: 0;
	scrollbar-color: var(--bC-color) var(--bC-color);
}

pre:hover {
	scrollbar-color: var(--code-header-color) var(--bC-color);
}

pre::-webkit-scrollbar {
	visibility: hidden;
	width: 100%;
}

pre::-webkit-scrollbar-thumb {
	background: var(--bC-color);
	transition: 0.2s;
}

pre:hover::-webkit-scrollbar {
	visibility: visible;
	width: 100%;
}

pre:hover::-webkit-scrollbar-track {
	background: var(--bC-color);
}

pre:hover::-webkit-scrollbar-thumb {
	background: var(--code-header-color);
}

/* ------------ Search -------- */

div[role="search"] {
	width: 100%;
	/* max-width: 900px; */
	height: 100%;
	position: fixed;
	z-index: 2;
	top: -100%;
	margin: 0;
	padding-top: 50px;
	background-color: var(--body-color);
	transition: top 0.4s ease;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
}

div[role="search"].active {
	top: 0%;
	transition: top 0.4s ease;
}



.search-flex {
	width: 100%;
	overflow-y: auto;
	max-width: var(--max-width);
}

li.nav-item:nth-child(3) {
	cursor: pointer;
}

div[role="search"]>.close {
	height: 20px;
}

.close>svg {
	fill: white;
}

form.search {
	/* outline: none; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.search>input {
	outline: none;
	background-color: var(--wrapper-color);
	width: 100%;
	border-radius: 15px;
	font-family: FontAwesome;
	box-shadow: 0px 5px 10px -6px #232324;
}

.search-results>li {
	margin: 20px 20px;
	list-style: none;
}

.search-results a {
	color: var(--heading-color);
	font-weight: 500;
}

.search-results a mark {
	color: var(--heading-color);
	font-weight: 900;
	background-color: transparent;
}

.search-results a:hover, .search-results a:hover mark {
	color: var(--highlight-color)
}

p.summary mark {
	color: var(--primary-text-color);
	font-weight: 900;
	background-color: transparent;
}

/* Overlay LightBox */

/* 
! ██████╗ ██╗   ██╗███████╗██████╗ ██╗      █████╗ ██╗   ██╗
!██╔═══██╗██║   ██║██╔════╝██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝
!██║   ██║██║   ██║█████╗  ██████╔╝██║     ███████║ ╚████╔╝ 
!██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗██║     ██╔══██║  ╚██╔╝  
!╚██████╔╝ ╚████╔╝ ███████╗██║  ██║███████╗██║  ██║   ██║   
! ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝   ╚═╝   
                                                           
*/

.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0);
}

.overlay-image {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
}

.overlay.show>.overlay-image {
	width: 100%;
	height: 100%;
}

.overlay-image>img {
	margin: 20px;
	max-width: 70%;
}

.overlay.show {
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	background: rgba(0, 0, 0, .7);
}

.overlay-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
}

.overlay-header>.fa, .overlay-image>.fa {
	margin: 0 25px;
	font-size: 0;
	color: var(--icon-fill-color);
}

.overlay-image>.fa {
	position: absolute;
}

.overlay-image>.fa-chevron-circle-left {
	left: 0;
}

.overlay-image>.fa-chevron-circle-right {
	right: 0;
}

.overlay.show .overlay-header>.fa, .overlay.show .overlay-image>.fa {
	font-size: 1.7rem;
}

.overlay-header>.fa:hover, .overlay-image>.fa:hover {
	color: #fff;
}

.overlay-header .fa:last-child {
	margin-right: 25px;
}

.overlay-header>.fa-expand.full {
	color: red;
}

.top-button {
	display: block;
	position: fixed;
	bottom: -30px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	color: var(--icon-fill-color);
	cursor: pointer;
	font-size: 25px;
	transition: all ease .2s;
}

.top-button.show {
	bottom: 10px;
	transition: all ease .2s;
}

.top-button:hover {
	color: var(--heading-color);
}