{{ define "main" }}
<main class="main-single" role="main">
	<article class="post">
		<header class="post__header">
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			<br>
			<h1 style="text-decoration:underline;" class="post__title">{{ .Title }}</h1>
			<br>
		</header>
		{{- if .Params.thumbnail }}
		{{- end }}
		<div class="content clearfix">
			{{ .Content | emojify }}
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/powershell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/dart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/shell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
	new ClipboardJS('.fa-copy');
	hljs.initHighlightingOnLoad();
</script>
{{ end }}
