{{- if .Param "authorbox" }}
{{ $author := index .Site.Data.author .Params.author }}
<div class="authorbox clearfix">
	{{- if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
	<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.
	</p>
	{{- end }}
	{{- with $author.avatar }}
	<figure class="authorbox__avatar" data-tilt>
		<img loading="lazy" alt="{{ $author.name }} avatar" src="{{ $author.avatar | relURL }}" class="avatar" height="140" width="140">
	</figure>
	{{- end }}
	{{- with $author.name }}
	<div class="authorbox__header">
		<span class="authorbox__ditulis">DITULIS OLEH</span>
		<p class="authorbox__name">{{ $author.name }}</p>
	</div>
	{{- end }}
	{{- with $author.bio }}
	<div class="authorbox__description">
		{{ . | markdownify }}
	</div>
	{{- end }}
	<div class="social-media">
		{{ partial "social.html" . }}
	</div>	
</div>
{{- end }}
