<div class="disqus_thread"></div>
<script src="/js/disqusLoader.js"></script>
<script>
    const disqusShortName = '{{ .Site.DisqusShortname }}';
    let options = {
        scriptUrl: '//' + disqusShortName + '.disqus.com/embed.js',
        lazyness: 0,
        throttle: 500,
        disqusConfig: function () {
            this.page.title = '{{ .Params.Title }}';
            this.page.url = '{{ .Params.URL }}';
            this.page.identifier = '{{ .Params.Title }}';
        }
    };
    disqusLoader('.disqus_thread', options);
</script>