<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
		</div>
	</div>
	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker
				.register('/sw.js', { scope: '/' })
				.then(function (registration) {
					// console.log('Service Worker Registered');
				});
			navigator.serviceWorker
				.ready
				.then(function (registration) {
					// console.log('Service Worker Ready');
				});
		}
	</script>

</footer>