{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
{{/* Defined when logo is mixed (image + text) */}}
{{- $logoMix := and $logoImage $logoTitle -}}

<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
	{{ with $logoImage -}}
	<div class="logo__item logo__imagebox " onclick="logo_theme()">
		{{ partial "svg/logoInOfBox2.svg" (dict "class" "logo__img" ) }}
		<!-- <img class="logo__img" src="{{ . | relURL }}"> -->
	</div>
	{{- end -}}
	<div class="logo__item logo__text logo__title">
		{{ $posts := (where .Pages "Type" "post") }}
		{{ $postsLen := len $posts}}
		{{ with $logoTitle -}}
		<a class="logo__link" href="{{ "" | relLangURL }}" rel="home" title="{{ $postsLen }}">
			{{ . }}
			{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
		</a>
		{{- end }}
	</div>
</div>
{{- end }}