{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
{{/* Defined when logo is mixed (image + text) */}}
{{- $logoMix := and $logoImage $logoTitle -}}

<div class="flex justify-between max-w-[195px] w-full">
	{{ with $logoImage -}}
	<div class="flex justify-center items-center " onclick="logo_theme()">
		{{ partial "svg/logoInOfBox2.html" (dict "class" "logo__img" ) }}
	</div>
	{{- end -}}
	<div class="flex items-center min-w-[145px]">
		{{ $posts := (where .Pages "Type" "post") }}
		{{ $postsLen := len $posts}}
		{{ with $logoTitle -}}
		<a class="text-center text-2xl font-bold hover:text-dk-hl-300 font-dk-heading" href='{{ "" | relLangURL }}' rel="home" title="{{ $postsLen }}">
			{{ . }}
		</a>
		{{- end }}
	</div>
</div>
{{- end }}