<nav class="navigation">
	<ul class="max-w-full w-full h-full flex justify-between list-none">
		{{ if eq .Type "" }}
		<li class="list-none flex items-center justify-center pl-8 show-search" custom-title="Search">
			<a class="p-1 m-[2px] flex items-center justify-center toggle-search">
				<i class="fa-solid fa-bars"></i>
				<!-- {{ partial "svg/search.html" (dict "class" "logo__img" ) }} -->
			</a>
		</li>
		{{ end }}
		<li class="list-none flex items-center justify-center pl-8 navbar-item show-search" custom-title="Search">
			<label for="search-icon" class="p-1 m-[2px] flex items-center justify-center toggle-search group">
				<i class="fa-solid fa-magnifying-glass w-5 h-5 text-dk-text group-checked:text-dk-blue-400"></i>
				<!-- {{ partial "svg/search.html" (dict "class" "logo__img" ) }} -->
			</label>
		</li>
		<!-- <li id="slider_sidebar" class="nav-item" custom-title="Toggle-Sidebar">
			<label class="switch">
				<input type="checkbox">
				<span class="slider round"></span>
			</label>
		</li> -->
	</ul>
</nav>