<nav class="mt-7 sticky font-bold pl-5 z-0 top-14 transition-all" id="toc" data-toggle="toc">
  <!-- TOC header -->
  <div class="text-base select-none text-dk-text font-bold ">
    Ada apa aja?
  </div>
  {{ .TableOfContents }}
  <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
    <path stroke="#f0ff00" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round"
      stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
  </svg>
</nav>