<input class="peer" type="checkbox" name="" id="search-icon">
<div class="w-full h-full fixed z-[2] peer-checked:top-0 -top-full pt-12 bg-dk-primary-800/90 backdrop-filter backdrop-blur-md overflow-y-hidden flex justify-center transition-[top]  duration-300 "
    role="search">
    <div class="my-[5px] mx-side max-w-dk-maxW w-full overflow-y-auto">
        <div class="search-wrapper w-full flex justify-center">
            <form class="flex items-center justify-center  my-5 mx-0 search" method="get">
                <input id="search-input"
                    class="text-black outline-none bg-dk-primary w-72 rounded-xl font-dk-fa shadow-dk-secondary shadow-lg"
                    type="search" placeholder="&#xf002; Cari sesuatu..." autofocus="false" required />
            </form>
        </div>
        <ul id="search-results" class="search-results">
            <li class="my-5 mx-0 list-none">
            </li>
        </ul>
    </div>
</div>