<div class="w-full h-full fixed z-10 -top-full pt-12 bg-dk-primary overflow-y-hidden flex justify-center "
    role="search">
    <div class="my-[5px] mx-side">
        <div class="search-wrapper">
            <form class="flex items-center justify-center my-5 mx-0" method="get">
                <input class="outline-none bg-dk-primary w-full rounded-xl font-dk-fa shadow-dk-secondary shadow-lg" type="search" placeholder="&#xf002; Cari sesuatu..."
                    autofocus="false" required />
            </form>
        </div>
        <ul class="search-results">
            <li class="my-5 mx-0 list-none">
            </li>
        </ul>
    </div>
</div>