{{- $sidebar := false }}
{{- if eq .Kind "home" -}}
{{ $sidebar = (default .Site.Params.sidebar.home .Params.sidebar) }}
{{- else if eq .Kind "page" -}}
{{ $sidebar = (default .Site.Params.sidebar.single .Params.sidebar) }}
{{- else -}}
{{ $sidebar = (default .Site.Params.sidebar.list .Params.sidebar) }}
{{ end }}

{{- if $sidebar -}}
<aside class="px-4 hidden md:block md:px-8 md:pl-4 md:pr-0 lg:pl-8 lg:pr-0 mt-8 md:mt-0 col-span-4 md:col-span-4">
	{{- $root := . }}
	{{- if eq .Type "post" -}}
	{{- partial "post_toc.html" . -}}
	{{- else }}
	{{- if eq .Kind "home"}}
	{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
	{{- $p := printf "widgets/%s.html" $widget }}
	{{- partial $p $root }}
	{{- end }}
	{{- end}}
	{{- end }}
</aside>

{{- end }}
{{ end }}