{{- with .Site.Params.widgets.social.github }}
	<div class="widget-social__item social_item">
		<a class="widget-social__link widget__link btn" title="GitHub" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
			{{ partial "svg/github.svg" (dict "class" "widget-social__link-icon") }}
		</a>
	</div>
	{{- end }}
	{{- with .Site.Params.widgets.social.twitter }}
	<div class="widget-social__item social_item">
		<a class="widget-social__link widget__link btn" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
			{{ partial "svg/twitter.svg" (dict "class" "widget-social__link-icon") }}
		</a>
	</div>
	{{- end }}
	{{- with .Site.Params.widgets.social.instagram }}
	<div class="widget-social__item social_item">
		<a class="widget-social__link widget__link btn" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/{{ . }}" target="_blank">
			{{ partial "svg/instagram.svg" (dict "class" "widget-social__link-icon") }}
		</a>
	</div>
	{{- end }}