{{- if .Params.author -}}
{{ $var := index .Site.Data.author .Params.author}}
{{ range $key, $value := $var.social }}
{{ with . }}
{{- if .enable -}}
<div class="mr-3 ">
	<a class="inline-block" target="_blank" title="{{ .name }}" rel="noopener noreferrer" href='{{if eq $key "mail" }} 
	mailto:{{ .name }}
	{{ else }}
	https://{{$key}}.com/{{.name}}
	{{ end }}' target="_blank">
		<i class="cursor-pointer text-2xl {{ .icon }} text-gray-300 hover:text-dk-text"></i>
	</a>
</div>
{{ end }}
{{end}}
{{end}}

{{- end }}