{{ define "main" }}
<main class="main grid grid-cols-dk-grid justify-between mt-6 gap-y-6 gap-x-6 pb-6">
    {{ $paginator := .Paginate (where .Pages "Type" "post") 10 }}
    {{ range $paginator.Pages}}
    {{ .Render "summary"}}
    {{ end }}
</main>
<div id="async-btn" class="grid mt-6 mx-0 mb-12 place-items-center w-auto h-auto">
    <button class="border-none rounded-4xl flex items-center justify-center max-w-[180px] max-h-14 w-full h-[60px] font-dk-heading font-extrabold bg-dk-blue-500 text-white hover:bg-dk-blue-400 " id="loadmore" onclick="asyncButtonFunc(`{{ .Paginator.TotalPages }}`)"><span>Tampilkan Lebih</span></button>
</div>
<script src="js/index.js"></script>
{{ end }}